In [1]:
import pandas as pd

df = pd.read_csv('indian_water_data.csv')
print(df.head())

   STN code                          Monitoring Location  Year  \
0      4085             RIVER JUMAR AT BIT MESRA, RANCHI  2022
1      2396                     RIVER JUMAR AT KANKE DAM  2022
2      2401                  RIVER AJAY AT MASANJORE DAM  2022
3      3554  RIVER KONAR NEAR SWANG COAL WASHERY, BOKARO  2022
4      2390                  RIVER KONAR AT TENUGHAT DAM  2022

  Type Water Body State Name  Temperature (C) - Min  Temperature (C) - Max  \
0           RIVER  JHARKHAND                   12.0                   29.0
1           RIVER  JHARKHAND                   12.0                   26.0
2           RIVER  JHARKHAND                   17.0                   36.0
3           RIVER  JHARKHAND                   19.0                   34.0
4           RIVER  JHARKHAND                   16.0                   33.0

  Dissolved - Min  Dissolved - Max  pH - Min  ...  BOD (mg/L) - Min  \
0             3.3              5.2       6.5  ...                 2
1             5.9              7.2       7.5  ...               1.9
2             5.8              6.6       7.5  ...               1.3
3             7.4              7.8       7.3  ...               1.8
4             7.4              8.0       7.4  ...               1.3

  BOD (mg/L) - Max  NitrateN (mg/L) - Min NitrateN (mg/L) - Max  \
0              2.9                    NaN                   NaN
1              3.2                    NaN                   NaN
2              1.6                    NaN                   NaN
3              2.7                    NaN                   NaN
4              2.0                    NaN                   NaN

   Fecal Coliform (MPN/100ml) - Min Fecal Coliform (MPN/100ml) - Max  \
0                               NaN                              NaN
1                               NaN                              NaN
2                               NaN                              NaN
3                               NaN                              NaN
4                               NaN                              NaN

   Total Coliform (MPN/100ml) - Min Total Coliform (MPN/100ml) - Max  \
0                               NaN                              NaN
1                               NaN                              NaN
2                               NaN                              NaN
3                               NaN                              NaN
4                               NaN                              NaN

  Fecal - Min Fecal - Max
0         NaN         NaN
1         NaN         NaN
2         NaN         NaN
3         NaN         NaN
4         NaN         NaN

[5 rows x 23 columns]

In [2]:
df.head()

,STN code,Monitoring Location,Year,Type Water Body,State Name,Temperature (C) - Min,Temperature (C) - Max,Dissolved - Min,Dissolved - Max,pH - Min,...,BOD (mg/L) - Min,BOD (mg/L) - Max,NitrateN (mg/L) - Min,NitrateN (mg/L) - Max,Fecal Coliform (MPN/100ml) - Min,Fecal Coliform (MPN/100ml) - Max,Total Coliform (MPN/100ml) - Min,Total Coliform (MPN/100ml) - Max,Fecal - Min,Fecal - Max
0,4085,"RIVER JUMAR AT BIT MESRA, RANCHI",2022,RIVER,JHARKHAND,12.0,29.0,3.3,5.2,6.5,...,2,2.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2396,RIVER JUMAR AT KANKE DAM,2022,RIVER,JHARKHAND,12.0,26.0,5.9,7.2,7.5,...,1.9,3.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2401,RIVER AJAY AT MASANJORE DAM,2022,RIVER,JHARKHAND,17.0,36.0,5.8,6.6,7.5,...,1.3,1.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3554,"RIVER KONAR NEAR SWANG COAL WASHERY, BOKARO",2022,RIVER,JHARKHAND,19.0,34.0,7.4,7.8,7.3,...,1.8,2.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2390,RIVER KONAR AT TENUGHAT DAM,2022,RIVER,JHARKHAND,16.0,33.0,7.4,8.0,7.4,...,1.3,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
print(df.columns)

Index(['STN code', 'Monitoring Location', 'Year', 'Type Water Body',
       'State Name', 'Temperature (C) - Min', 'Temperature (C) - Max',
       'Dissolved - Min', 'Dissolved - Max', 'pH - Min', 'pH - Max',
       'Conductivity (Â¬Âµmho/cm) - Min', 'Conductivity (Â¬Âµmho/cm) - Max',
       'BOD (mg/L) - Min', 'BOD (mg/L) - Max', 'NitrateN (mg/L) - Min',
       'NitrateN (mg/L) - Max', 'Fecal Coliform (MPN/100ml) - Min',
       'Fecal Coliform (MPN/100ml) - Max', 'Total Coliform (MPN/100ml) - Min',
       'Total Coliform (MPN/100ml) - Max', 'Fecal - Min', 'Fecal - Max'],
      dtype='object')

In [4]:
colunas_traduzidas = {
    "STN code": "codigo_stn",
    "Monitoring Location": "local_monitoramento",
    "Year": "ano",
    "Type Water Body": "tipo_corpo_agua",
    "State Name": "estado",
    "Temperature (C) - Min": "temperatura_min_c",
    "Temperature (C) - Max": "temperatura_max_c",
    "Dissolved - Min": "oxigenio_dissolvido_min",
    "Dissolved - Max": "oxigenio_dissolvido_max",
    "pH - Min": "ph_min",
    "pH - Max": "ph_max",
    "Conductivity (Â¬Âµmho/cm) - Min": "condutividade_min",
    "Conductivity (Â¬Âµmho/cm) - Max": "condutividade_max",
    "BOD (mg/L) - Min": "bod_min_mg_l",
    "BOD (mg/L) - Max": "bod_max_mg_l",
    "NitrateN (mg/L) - Min": "nitrato_min_mg_l",
    "NitrateN (mg/L) - Max": "nitrato_max_mg_l",
    "Fecal Coliform (MPN/100ml) - Min": "coliformes_fecais_min",
    "Fecal Coliform (MPN/100ml) - Max": "coliformes_fecais_max",
    "Total Coliform (MPN/100ml) - Min": "coliformes_totais_min",
    "Total Coliform (MPN/100ml) - Max": "coliformes_totais_max",
    "Fecal - Min": "fecal_min",
    "Fecal - Max": "fecal_max"
}

In [5]:
df = df.rename(columns=colunas_traduzidas)

In [6]:
df.head()

,codigo_stn,local_monitoramento,ano,tipo_corpo_agua,estado,temperatura_min_c,temperatura_max_c,oxigenio_dissolvido_min,oxigenio_dissolvido_max,ph_min,...,bod_min_mg_l,bod_max_mg_l,nitrato_min_mg_l,nitrato_max_mg_l,coliformes_fecais_min,coliformes_fecais_max,coliformes_totais_min,coliformes_totais_max,fecal_min,fecal_max
0,4085,"RIVER JUMAR AT BIT MESRA, RANCHI",2022,RIVER,JHARKHAND,12.0,29.0,3.3,5.2,6.5,...,2,2.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2396,RIVER JUMAR AT KANKE DAM,2022,RIVER,JHARKHAND,12.0,26.0,5.9,7.2,7.5,...,1.9,3.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2401,RIVER AJAY AT MASANJORE DAM,2022,RIVER,JHARKHAND,17.0,36.0,5.8,6.6,7.5,...,1.3,1.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3554,"RIVER KONAR NEAR SWANG COAL WASHERY, BOKARO",2022,RIVER,JHARKHAND,19.0,34.0,7.4,7.8,7.3,...,1.8,2.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2390,RIVER KONAR AT TENUGHAT DAM,2022,RIVER,JHARKHAND,16.0,33.0,7.4,8.0,7.4,...,1.3,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
print(df.dtypes)

codigo_stn                   int64
local_monitoramento         object
ano                          int64
tipo_corpo_agua             object
estado                      object
temperatura_min_c          float64
temperatura_max_c          float64
oxigenio_dissolvido_min     object
oxigenio_dissolvido_max    float64
ph_min                     float64
ph_max                     float64
condutividade_min           object
condutividade_max          float64
bod_min_mg_l                object
bod_max_mg_l               float64
nitrato_min_mg_l            object
nitrato_max_mg_l           float64
coliformes_fecais_min       object
coliformes_fecais_max       object
coliformes_totais_min       object
coliformes_totais_max      float64
fecal_min                   object
fecal_max                   object
dtype: object

In [9]:

df.info

<bound method DataFrame.info of      codigo_stn                                local_monitoramento   ano  \
0          4085                   RIVER JUMAR AT BIT MESRA, RANCHI  2022
1          2396                           RIVER JUMAR AT KANKE DAM  2022
2          2401                        RIVER AJAY AT MASANJORE DAM  2022
3          3554        RIVER KONAR NEAR SWANG COAL WASHERY, BOKARO  2022
4          2390                        RIVER KONAR AT TENUGHAT DAM  2022
..          ...                                                ...   ...
189       20046                                            MADURAI  2023
190        3054  RIVER GODAVARI - OUTLET OF ASH POND EFFLUENTS ...  2023
191        4665  RIVER MANERU (TRIBUTARY OF GODAVARI) - OUTLET ...  2023
192        3055  AMBERPET STP (339 MLD) - OUTLET , AMBERPET (V&...  2023
193        3050                             WATER WORKS- GHAZIABAD  2023

                       tipo_corpo_agua         estado  temperatura_min_c  \
0                                RIVER      JHARKHAND               12.0
1                                RIVER      JHARKHAND               12.0
2                                RIVER      JHARKHAND               17.0
3                                RIVER      JHARKHAND               19.0
4                                RIVER      JHARKHAND               16.0
..                                 ...            ...                ...
189                                STP     TAMIL NADU               25.0
190                              DRAIN      TELANGANA               25.0
191                              DRAIN      TELANGANA               25.0
192                                STP      TELANGANA               25.0
193  WATER TREATMENT PLANT (RAW WATER)  UTTAR PRADESH               18.0

     temperatura_max_c oxigenio_dissolvido_min  oxigenio_dissolvido_max  \
0                 29.0                     3.3                      5.2
1                 26.0                     5.9                      7.2
2                 36.0                     5.8                      6.6
3                 34.0                     7.4                      7.8
4                 33.0                     7.4                      8.0
..                 ...                     ...                      ...
189               39.0                     0.3                      6.0
190               29.0                     1.6                      6.0
191               28.0                     2.8                      6.1
192               31.0                     0.9                      4.6
193               26.0                     0.3                     11.0

     ph_min  ...  bod_min_mg_l bod_max_mg_l  nitrato_min_mg_l  \
0       6.5  ...             2          2.9               NaN
1       7.5  ...           1.9          3.2               NaN
2       7.5  ...           1.3          1.6               NaN
3       7.3  ...           1.8          2.7               NaN
4       7.4  ...           1.3          2.0               NaN
..      ...  ...           ...          ...               ...
189     6.7  ...             4         18.0               0.3
190     8.5  ...             1          5.4               0.9
191     7.5  ...           1.8          3.2               0.4
192     6.9  ...           4.4         30.0               4.2
193     7.1  ...             1          1.0               0.3

    nitrato_max_mg_l  coliformes_fecais_min coliformes_fecais_max  \
0                NaN                    NaN                   NaN
1                NaN                    NaN                   NaN
2                NaN                    NaN                   NaN
3                NaN                    NaN                   NaN
4                NaN                    NaN                   NaN
..               ...                    ...                   ...
189              1.0                      2                 11000
190              3.8                      2                    17
191             17.0                      2                     2
192              8.0                      4                    46
193              0.3                      2                     2

     coliformes_totais_min coliformes_totais_max fecal_min fecal_max
0                      NaN                   NaN       NaN       NaN
1                      NaN                   NaN       NaN       NaN
2                      NaN                   NaN       NaN       NaN
3                      NaN                   NaN       NaN       NaN
4                      NaN                   NaN       NaN       NaN
..                     ...                   ...       ...       ...
189                      2               22000.0         2       NaN
190                     17                 280.0         2       NaN
191                     26                  58.0         2       NaN
192                    220                 920.0         2       NaN
193                      2                   2.0         2       NaN

[194 rows x 23 columns]>

In [10]:
df.describe()

,codigo_stn,ano,temperatura_min_c,temperatura_max_c,oxigenio_dissolvido_max,ph_min,ph_max,condutividade_max,bod_max_mg_l,nitrato_max_mg_l,coliformes_totais_max
count,194.000000,194.000000,192.000000,192.000000,193.000000,194.000000,194.000000,181.000000,179.000000,181.000000,1.790000e+02
mean,4122.922680,2022.273196,18.418229,27.456250,7.655440,7.125464,8.003351,11457.027624,5.197765,2.763646,8.527913e+04
std,4101.028601,0.809659,6.750461,6.589057,1.808626,0.446252,0.460290,21392.168405,10.567610,2.994499,1.047617e+06
min,1013.000000,2021.000000,1.000000,8.000000,1.100000,5.700000,6.600000,4.000000,1.000000,0.300000,2.000000e+00
25%,2354.000000,2022.000000,12.750000,24.000000,6.700000,6.800000,7.700000,201.000000,1.900000,1.150000,2.100000e+02
50%,3875.500000,2022.500000,21.000000,29.000000,7.800000,7.100000,8.000000,680.000000,2.600000,1.800000,9.100000e+02
75%,4377.000000,2023.000000,23.000000,32.000000,8.600000,7.400000,8.300000,3040.000000,3.000000,2.900000,1.600000e+03
max,30080.000000,2023.000000,28.000000,39.000000,13.600000,8.500000,11.200000,61900.000000,90.000000,17.000000,1.400000e+07

In [11]:

cols_para_converter = [
    "oxigenio_dissolvido_min", "oxigenio_dissolvido_max",
    "nitrato_min_mg_l", "nitrato_max_mg_l",
    "coliformes_fecais_min", "coliformes_fecais_max",
    "coliformes_totais_min", "fecal_min", "fecal_max"
]

for col in cols_para_converter:
    df[col] = pd.to_numeric(df[col], errors="coerce")

In [15]:
df.head(20)

,codigo_stn,local_monitoramento,ano,tipo_corpo_agua,estado,temperatura_min_c,temperatura_max_c,oxigenio_dissolvido_min,oxigenio_dissolvido_max,ph_min,...,bod_min_mg_l,bod_max_mg_l,nitrato_min_mg_l,nitrato_max_mg_l,coliformes_fecais_min,coliformes_fecais_max,coliformes_totais_min,coliformes_totais_max,fecal_min,fecal_max
0,4085,"RIVER JUMAR AT BIT MESRA, RANCHI",2022,RIVER,JHARKHAND,12.0,29.0,3.3,5.2,6.50,...,2,2.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2396,RIVER JUMAR AT KANKE DAM,2022,RIVER,JHARKHAND,12.0,26.0,5.9,7.2,7.50,...,1.9,3.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2401,RIVER AJAY AT MASANJORE DAM,2022,RIVER,JHARKHAND,17.0,36.0,5.8,6.6,7.50,...,1.3,1.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3554,"RIVER KONAR NEAR SWANG COAL WASHERY, BOKARO",2022,RIVER,JHARKHAND,19.0,34.0,7.4,7.8,7.30,...,1.8,2.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2390,RIVER KONAR AT TENUGHAT DAM,2022,RIVER,JHARKHAND,16.0,33.0,7.4,8.0,7.40,...,1.3,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4000,RIVER GARGA NEAR TELMUCHO BRIDGE,2022,RIVER,JHARKHAND,15.0,30.0,6.5,7.5,7.20,...,2.2,3.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2381,RIVER BOKARO AT ZARANGDIH BRIDGE,2022,RIVER,JHARKHAND,18.5,33.5,7.3,8.1,7.00,...,1.6,2.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1034,"RIVER SANKH AT BOLBA, JHARKHAND",2022,RIVER,JHARKHAND,12.0,27.0,7.8,8.5,7.30,...,1.1,1.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2392,RIVER BARAKAR AT MAITHAN DAM,2022,RIVER,JHARKHAND,13.0,26.0,7.3,7.8,7.40,...,1.3,2.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,3555,"RIVER DAMODAR NEAR ZARANGDIH BRIDGE, BOKARO",2022,RIVER,JHARKHAND,18.0,33.0,7.5,8.7,7.40,...,1.8,2.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,4083,"RIVER DAMODAR NEAR ROHINI PROJECT, NK AREA, PO...",2022,RIVER,JHARKHAND,14.0,26.0,6.7,8.5,6.60,...,1.5,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,3553,RIVER DAMODAR NEAR TELMUCHO BRIDGE,2022,RIVER,JHARKHAND,14.5,30.0,7.3,8.5,7.40,...,2.3,3.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,1510,RIVER TONS AT TIUNI (HIMACHAL PRADESH/UTTRA KH...,2022,RIVER,HIMACHAL PRADESH,8.0,24.0,7.1,9.0,7.52,...,NaN,NaN,0.37,1.90,2.0,33.0,7.8,920.0,NaN,2.0
13,30023,RIVER TONS AT HARIPUR (U.K.),2022,RIVER,UTTARAKHAND,14.0,23.5,8.7,9.4,8.10,...,NaN,NaN,0.32,0.52,4.0,21000.0,13.0,79000.0,2.0,NaN
14,4027,RIVER GIRI D/S RAJGARH TOWN,2022,RIVER,HIMACHAL PRADESH,21.0,26.0,7.5,8.3,7.55,...,NaN,NaN,0.32,1.19,26.0,40.0,130.0,210.0,NaN,NaN
15,4028,"RIVER GIRI D/S KALGIDHAR TRUST, BARU SAHIB",2022,RIVER,HIMACHAL PRADESH,20.0,27.0,7.4,8.2,7.79,...,NaN,NaN,0.32,1.23,26.0,39.0,130.0,280.0,NaN,NaN
16,4427,RIVER GIRI U/S CHAILLA,2022,RIVER,HIMACHAL PRADESH,7.0,23.0,7.0,8.6,7.23,...,NaN,NaN,0.37,2.36,4.0,17.0,6.8,1600.0,NaN,NaN
17,2621,RIVER GIRI AT D/S YASHWANT NAGAR AFTER CONF. W...,2022,RIVER,HIMACHAL PRADESH,8.0,16.0,6.9,8.6,7.54,...,NaN,NaN,1.01,12.12,2.0,1600.0,26.0,1600.0,NaN,NaN
18,3876,RIVER GIRI AFTER CONFLUENCE OF ASHWANI RIVER A...,2022,RIVER,HIMACHAL PRADESH,7.0,18.0,7.5,8.9,7.54,...,NaN,NaN,0.89,7.49,2.0,79.0,21.0,1600.0,NaN,NaN
19,2622,RIVER GIRI AT U/S CCI MINES AT VILLAGE NADI,2022,RIVER,HIMACHAL PRADESH,20.0,27.0,6.9,8.2,7.77,...,NaN,NaN,0.32,0.85,13.0,33.0,40.0,170.0,NaN,NaN

In [13]:
df.dtypes

codigo_stn                   int64
local_monitoramento         object
ano                          int64
tipo_corpo_agua             object
estado                      object
temperatura_min_c          float64
temperatura_max_c          float64
oxigenio_dissolvido_min    float64
oxigenio_dissolvido_max    float64
ph_min                     float64
ph_max                     float64
condutividade_min           object
condutividade_max          float64
bod_min_mg_l                object
bod_max_mg_l               float64
nitrato_min_mg_l           float64
nitrato_max_mg_l           float64
coliformes_fecais_min      float64
coliformes_fecais_max      float64
coliformes_totais_min      float64
coliformes_totais_max      float64
fecal_min                  float64
fecal_max                  float64
dtype: object

In [14]:
df.info

<bound method DataFrame.info of      codigo_stn                                local_monitoramento   ano  \
0          4085                   RIVER JUMAR AT BIT MESRA, RANCHI  2022
1          2396                           RIVER JUMAR AT KANKE DAM  2022
2          2401                        RIVER AJAY AT MASANJORE DAM  2022
3          3554        RIVER KONAR NEAR SWANG COAL WASHERY, BOKARO  2022
4          2390                        RIVER KONAR AT TENUGHAT DAM  2022
..          ...                                                ...   ...
189       20046                                            MADURAI  2023
190        3054  RIVER GODAVARI - OUTLET OF ASH POND EFFLUENTS ...  2023
191        4665  RIVER MANERU (TRIBUTARY OF GODAVARI) - OUTLET ...  2023
192        3055  AMBERPET STP (339 MLD) - OUTLET , AMBERPET (V&...  2023
193        3050                             WATER WORKS- GHAZIABAD  2023

                       tipo_corpo_agua         estado  temperatura_min_c  \
0                                RIVER      JHARKHAND               12.0
1                                RIVER      JHARKHAND               12.0
2                                RIVER      JHARKHAND               17.0
3                                RIVER      JHARKHAND               19.0
4                                RIVER      JHARKHAND               16.0
..                                 ...            ...                ...
189                                STP     TAMIL NADU               25.0
190                              DRAIN      TELANGANA               25.0
191                              DRAIN      TELANGANA               25.0
192                                STP      TELANGANA               25.0
193  WATER TREATMENT PLANT (RAW WATER)  UTTAR PRADESH               18.0

     temperatura_max_c  oxigenio_dissolvido_min  oxigenio_dissolvido_max  \
0                 29.0                      3.3                      5.2
1                 26.0                      5.9                      7.2
2                 36.0                      5.8                      6.6
3                 34.0                      7.4                      7.8
4                 33.0                      7.4                      8.0
..                 ...                      ...                      ...
189               39.0                      0.3                      6.0
190               29.0                      1.6                      6.0
191               28.0                      2.8                      6.1
192               31.0                      0.9                      4.6
193               26.0                      0.3                     11.0

     ph_min  ...  bod_min_mg_l bod_max_mg_l  nitrato_min_mg_l  \
0       6.5  ...             2          2.9               NaN
1       7.5  ...           1.9          3.2               NaN
2       7.5  ...           1.3          1.6               NaN
3       7.3  ...           1.8          2.7               NaN
4       7.4  ...           1.3          2.0               NaN
..      ...  ...           ...          ...               ...
189     6.7  ...             4         18.0               0.3
190     8.5  ...             1          5.4               0.9
191     7.5  ...           1.8          3.2               0.4
192     6.9  ...           4.4         30.0               4.2
193     7.1  ...             1          1.0               0.3

    nitrato_max_mg_l  coliformes_fecais_min  coliformes_fecais_max  \
0                NaN                    NaN                    NaN
1                NaN                    NaN                    NaN
2                NaN                    NaN                    NaN
3                NaN                    NaN                    NaN
4                NaN                    NaN                    NaN
..               ...                    ...                    ...
189              1.0                    2.0                11000.0
190              3.8                    2.0                   17.0
191             17.0                    2.0                    2.0
192              8.0                    4.0                   46.0
193              0.3                    2.0                    2.0

     coliformes_totais_min  coliformes_totais_max  fecal_min  fecal_max
0                      NaN                    NaN        NaN        NaN
1                      NaN                    NaN        NaN        NaN
2                      NaN                    NaN        NaN        NaN
3                      NaN                    NaN        NaN        NaN
4                      NaN                    NaN        NaN        NaN
..                     ...                    ...        ...        ...
189                    2.0                22000.0        2.0        NaN
190                   17.0                  280.0        2.0        NaN
191                   26.0                   58.0        2.0        NaN
192                  220.0                  920.0        2.0        NaN
193                    2.0                    2.0        2.0        NaN

[194 rows x 23 columns]>

In [ ]:
#prata (sem tratamento de NaN)
df.to_csv("data/prata/agua_prata_raw.csv", index=False, encoding="utf-8")

OSError: Cannot save file into a non-existent directory: 'data\prata'

In [18]:
df.to_csv("../prata/agua_prata_raw.csv", index=False, encoding="utf-8")

In [19]:
# colunas para substituir NaN por 0
colunas_para_zero = [
    "temperatura_min_c", "temperatura_max_c",
    "oxigenio_dissolvido_min", "oxigenio_dissolvido_max",
    "ph_min", "ph_max",
    "condutividade_min", "condutividade_max",
    "bod_min_mg_l", "bod_max_mg_l",
    "nitrato_min_mg_l", "nitrato_max_mg_l",
    "coliformes_fecais_min", "coliformes_fecais_max",
    "coliformes_totais_min", "coliformes_totais_max",
    "fecal_min", "fecal_max"
]

# cria uma cÃ³pia tratada
df_tratado = df.copy()

# garantir tipos numÃ©ricos
df_tratado[colunas_para_zero] = df_tratado[colunas_para_zero].apply(pd.to_numeric, errors="coerce")

# preencher NaN com 0
df_tratado[colunas_para_zero] = df_tratado[colunas_para_zero].fillna(0)

# salva no prata como versÃ£o tratada
df_tratado.to_csv("../prata/agua_prata_tratado.csv", index=False, encoding="utf-8")